	html,
	body {
		background-color: #efeff4;
	}
	/*标题修改*/
	
	.mui-title {
		width: 100% !important;
		margin: 0 0 !important;
		background-color: #0462A2;
		color: black;
	}
	
	.mui-bar~.mui-content .mui-fullscreen {
		top: 44px;
		height: auto;
	}
	/*这是hot部分的css*/
	
	.main {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		background-color: red;
		align-items: center;
		height: 100%;
		background-image: url(../img/yuantiao.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	.main li {
		list-style-type: none;
		width: 44%;
		height: 150px;
		margin: 12px 10px;
		background-color: green;
		color: black;
		text-align: center !important;
		line-height: 150px !important;
		font-size: 12px;
		
	}
	
	.main li:nth-child(2n) {
		background: #9BC9E8;
		background: linear-gradient(135deg, transparent 15px, #9BC9E8 0) top left, linear-gradient(-135deg, transparent 15px, #9BC9E8 0) top right, linear-gradient(-45deg, transparent 15px, #9BC9E8 0) bottom right, linear-gradient(45deg, transparent 15px, #9BC9E8 0) bottom left;
		background-size: 50% 50%;
		background-repeat: no-repeat;
		padding: 1em 1.2em;
		max-width: 12em;
		/*line-height: 1.5em;*/
	}
	
	.main li:nth-child(2n+1) {
		background: #9BC9E8;
		background: radial-gradient(circle at top left, transparent 15px, #9BC9E8 0) top left, radial-gradient(circle at top right, transparent 15px, #9BC9E8 0) top right, radial-gradient(circle at bottom right, transparent 15px, #9BC9E8 0) bottom right, radial-gradient(circle at bottom left, transparent 15px, #9BC9E8 0) bottom left;
		background-size: 50% 50%;
		background-repeat: no-repeat;
		padding: 1em 1.2em;
		max-width: 12em;
	}